# website generated
public/

# mac
.DS_Store

# local log
journal.md

# img before processing
static/images_origin/
static/images_old/

#tmp 
static/images/fusion-intention/

#backup 
.content_old/

# zip
*.zip

# script
scripts/deploy-test.sh

# doc
doc/

#latex
latex/

# draft
*.draft.*

# content builder
content-builder/