// Import des fonctions et variables Bootstrap
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/scss/functions";
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/scss/variables";

// Modifier les couleurs Bootstrap
$primary: #ff5733;
$secondary: #33ff57;
$success: #008000;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

// Importer le reste de Bootstrap
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/scss/bootstrap";
